
/* container to serve as grid template*/
.container{
    z-index: -2;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    padding-top: 60px;
    padding-bottom: 20px;
    width: 100%;
    min-width: 1080px;
    height: 100vh;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "about about about"
    "upcoming history history"
    ;
}

/* -------------------------grid sections---------------------------*/

/* Shared properties*/

.sectionheader{
    font-size: 3vh;
    color: #003e51;
    border-bottom: 1px solid rgb(190, 190, 190) ;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.insidebox{
    margin: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
}

.sectionButton img{
    width: 40px;
}

.sectionButton2{
    float: right;
}

button:hover{
    cursor: pointer;
}

.insidebox li:hover{
    background-color: rgb(212, 212, 212);
}

.orderby{
    display: none;
    position: absolute;
    top: 35px;
    right: 0px;
    background-color: rgb(229, 229, 229);
    width: 200px;
}

.orderby button{
    width: 200px;
    border: none;
    background-color:  rgb(229, 229, 229);
    margin: 5px 0px;
}

.orderby button:hover{
    background-color:  rgb(196, 196, 196);
}


/* About section styles*/
.about{
    grid-area: about;
}

.flexbox{
    display: flex;
}

.about p{
    padding: 30px 0;
    max-width:1080px ;
    font-size: 1.5vh;
}

.about a{
    text-decoration: none;
    color: #288f94;
}

iframe{
    width: 500px;
    height: 300px;
    margin-left: 50px;
}




/* Upcoming section styles*/
.upcoming{
    grid-area: upcoming;
}

.activity{
    margin: 10px;
    width: 300px;
    max-height: 400px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 60% 20% 20%;
    grid-template-areas: 
    "img img"
    "title options"
    "title meter"
    ;
    border: 1px solid  rgb(190, 190, 190);
    border-radius: 3px;
    float: left;
}

.activity img{
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
    grid-area: img;
}

.activity .title{
    grid-area: title;
    padding: 10px 5px;
    color: rgb(56, 56, 56);
    font-size: large;
}

.activity .title span{
    color: rgb(92, 92, 92);
    font-size: medium;
}


.activity .options{
    grid-area: options;
    background-color: hsla(0, 0%, 100%, 0);
    border: none;
    font-size: large;
    text-align: center;
}


.activity .meter{
    grid-area: meter;
}

/* History section styles*/
.history{
    grid-area: history;
}

