* {
    margin: 0;
    padding: 0;
    font-family: 'Arial Nova';
    box-sizing: border-box;
}

/*------scrollbars styles-------*/

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 3px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#007396;
    border-radius: 3px;
  }


/* ----Menu styles----- */

nav {
    width: 100%;
    height: 60px;
    background-color: #003e51;

}

nav >img {
    width: 100px;
    float: left;
    margin: 10px 0 0 20px;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    list-style: none;
    text-align: center;
    margin-right: 20px;
}

nav button {
    color: white;
    font-size: 18px;
    height: 60px;
    width: 60px;
    background-color: #003e51;
    border: none;
    position: relative;
}

nav button image {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav button:hover {
    background-color: #00536d;
    cursor: pointer;
}


nav span {
    line-height: 60px;
    color: white;
}


nav .icon {
    width: 30px;
}

/*-------submenus styles------------*/

.submenu {
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background-color: #00536d;
}

.submenu a{
    text-decoration: none;
    color: white;
}

.closebutton{
    height: 40px;
    width: 40px;
    text-align: center;
    color:white;
    background-color: #00536d;
    border: none;
    margin: 10px 0 30px 10px;
}

.closebutton:hover{
    background-color: #007396;
    cursor: pointer;    
}


.submenu ul {
    list-style: none;
}

.submenu ul li {
    margin-top: 10px;
}

#signout-btn{
    position: absolute;
    bottom: 10px;
    text-align: right;
}

#signout-btn p{
    padding-right:30px;
}


.submenu p {
    width: 300px;
    height: 40px;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
}

.submenu li:hover {
    background-color: #003e51;
    cursor: pointer;
}

/*------- text submenu styles------------*/

.textsubmenu {
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background-color: #f2f2f2;
}

.messagescontainer{
    margin: 10px;
}

.textsubmenu form{
    position: absolute;
    bottom: 60px;
    width: 300px;
}

.textsubmenu form input{
    width: 280px;
    margin: 10px;
    height: 150px;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

.textsubmenu form button{
    width: 280px;
    height: 30px;
    margin: 10px;
    background-color: #ffcd00;
    border-radius: 3px;
    border: 1px solid rgb(185, 185, 185);
}

.messagescontainer{
    background-color: white;
    width: 280px;
    height: 50vh;
    border-radius: 3px;
    padding: 10px;
}

.textsubmenu >p{
    margin: 15px;
}


/*---------notifications submenu----------*/

.notsubmenu {
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background-color: #f2f2f2;
}

.notsubmenu >p{
    margin: 15px;
}

