/* container styles */

div.pastReports {
    border: 1px solid black;
    width: 98%;
    height: auto;
    min-width: 1000px;
    margin: 0.5% 0.5% 0% 0.5%;
    padding: 0.8% 0.5% 0% 0.5%;
}

div.pastDocuments {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: auto;
    height: auto;
    margin: 0.5% 0% 0.5% 0%;
}

div.document {
    margin: 1.5% 0.5% 1.5% 0%;
    display: inline-block;
    height: auto;
    width: auto;
}

div.report{
    border: 1px solid black;
    width: 98%;
    height: auto;
    padding: 0.8% 0.5% 0% 0.5%;
}

/* images styles */
button.pdf {
    margin: 0 5px;
}

/* buttons styles */
button.buttonGoals {
    width:100%;
}

/* table style for documents */
table.tr.rowDocuments{
    width: auto;
}
table.td.gridDocuments{
    width: auto;
}

/* table styles for goals */
table.tableGoals{
    width: 100%;
    margin: 0;
    padding: 0;
}

tr.rowGoals {
    width: auto;
}

th.gridGoals {
    height: auto;
}

/* text styles*/

h3.textGoals {
    margin: 0 20px 0 1px;
}

