/* container styles */

div.pastReports {
    border: 1px solid black;
    width: 98%;
    height: auto;
    min-width: 1000px;
    margin: 0.5% 0.5% 0% 0.5%;
    padding: 0.8% 0.5% 0% 0.5%;
}

div.pastDocuments {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: auto;
    height: auto;
    margin: 0.5% 0% 0.5% 0%;
}

div.document {
    margin: 1.5% 0.5% 1.5% 0%;
    display: inline-block;
    height: auto;
    width: auto;
}

img.download {
    margin: 0 3px;
}
/* loginform styles*/


/* form side text styles*/

