/* container styles */
.pastReports {
    border: 1px solid rgb(185, 185, 185);
    width: 98%;
    height: auto;
    margin: 10px auto;
    min-width: 1000px;
    padding: 0 0.5% 0.5% 0.5%;
}

div.pastDocuments {
    border-top: 1px solid rgb(105, 105, 105);
    border-bottom: 1px solid rgb(105, 105, 105);
    width: auto;
    height: auto;
    margin: 0.5% 0% 0.5% 0%;
    overflow-x: auto;
    white-space: nowrap;
}

.pastDocuments table {
    margin-right: 10px;
    border: 1px solid white;
    border-left: 1px solid grey;
    padding-left: 10px;
}

.pastDocuments table:hover {
    border: 1px solid #288f94;
}


div.document {
    margin: 1.5% 0.5% 1.5% 0%;
    display: inline-block;
    height: auto;
    width: auto;
}

div.report {
    border: 1px solid rgb(105, 105, 105);
    width: 99.8%;
    height: auto;
    padding: 0 0.5% 0.5% 0.5%;
    margin: 0 0 0 2px;
}

/* button images styles */
button.pdf {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-image: url(../images/icons/pdf.png);
    background-size: contain;
    border: none;
    border-radius: 1px;
}

td>button.pdf:nth-child(1) {
    background-image: url(../images/icons/view.png);
    border: 1px solid grey;
}

td>button.pdf:nth-child(2) {
    background-image: url(../images/icons/comments.png);
    border: none;
}

button.pdf:hover {
    cursor: pointer;
}

.icon {
    width: 15px;
}


/* strategic goals tabs styles */
.buttonGoals {
    width: 100%;
    background-color: #003e51;
    color: white;
    text-align: center;
    height: 40px;
    border: none;
    border-radius: 3px 3px 0 0;
}

.buttonGoals:hover{
    background-color:  #17a2b8;
    cursor: pointer;
}


.cover-pic {
    width: 100%;
    height: 40px;
    background-image: url(../images/backgrounds/hexa.jpg);
    background-size: cover;
    border: 2px solid white;
}


/* table style for documents */
table.tr.rowDocuments {
    width: auto;
}

table.td.gridDocuments {
    width: auto;
}

/* table styles */
table.tableGoals {
    width: 100%;
    margin: 0;
    padding: 0;
}

tr.rowGoals {
    width: auto;
    margin: 0;
    padding: 0;
}


th.gridGoals {
    height: auto;
    margin: 0;
    padding: 0;
}

table.tablePastReport {
    width: 100%;
    border-collapse: collapse;
}

table.tablePastReport tbody.composedQuestion:hover {
    background-color:  rgb(190, 190, 190);
}

th.headerActivity {
    width: 60%;
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
    padding: 0 0 0 0.5%;
    background-color: #288f94;
    color: white;
    text-align: left;
}

th.headerRest {
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
    background-color: #288f94;
    color: white;
    font-weight: bold;
    text-align: left;
}

tr.rowPastReport {
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
}

tr.rowPastReport:hover{
    background-color:  rgb(190, 190, 190);
}

/* This is a css for a row of the single question  */
tr.rowPastReportSingle {
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
}

/* This is a css for a row for a composed sub-question*/
tr.rowPastReportComposed {
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
}

tr.rowPastReportSingle:hover{
    background-color:  rgb(190, 190, 190);
}

td.gridActivity {
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
    text-align: left;
    padding: 0 0 0 0.3%;
    font-weight: bold;
}

td.gridActivitySubQuestion {
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
    text-align: left;
    padding: 0 0 0 0.3%;
}

/* This is a css for a grid of the composed main question*/
td.gridComposedActivity {
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
    text-align: left;
    font-weight: bold;
}

td.gridRest {
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
    text-align: center;
}

/* text styles*/
p.headers {
    font-weight: bold;
    margin: 0.5% 0 0.3% 1px;
    font-size: large;
}

p.regularText {
    margin: 0 0 0.2% 1px;
    font-size: medium;
}

p.document {
    color: black;
}

p.date {
    color: #040120;
}

p.SPRtext {
    color: rgb(0, 225, 255);
}

p.facility {
    color: rgb(105, 105, 105);
}

/*--------------Detailed report elements css-----------------*/

button.searchUser
{
    display: block;
    width: 40%;
    min-width: 300px;
    margin: 30px auto 0;
    background-color: #c5c5c5;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button.searchUser:hover{
    background-color:  #17a2b8;
    cursor: pointer;
}

/*--------------Detailed report table css-----------------*/

table.detailedReportTable{
    width: 100%;
}

table.detailedReportTable tbody.composedQuestion:hover{
    background-color:  rgb(190, 190, 190);
}

table.detailedReportTable tr:hover{
    background-color:  rgb(190, 190, 190);
}

table.detailedReportTable th{
    border: 1px solid rgb(105, 105, 105);
    background-color: #288f94;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0 2px 0 2px;
    margin: 0 1% 1% 1%;
}

table.detailedReportTable th.subQuestionColumn{
    width: 15%;
}

table.detailedReportTable th.answerColumnHeader{
    text-align: center;
    padding: 0 2px 0 2px;
}

table.detailedReportTable th.commentHeader{
    width: 30%;
    text-align: center;
}

table.detailedReportTable td{
    border: 1px solid rgb(105, 105, 105);
    text-align: left;
    padding: 0 2px 0 2px;
    margin: 0 1% 1% 1%;
}

table.detailedReportTable td.otherCells{
    font-weight: bold;
}

table.detailedReportTable td.subQuestion{
    padding: 0 2px 0 2px;
}

table.detailedReportTable td.userName{
    font-weight: bold;
    text-align: center;
}


table.detailedReportTable td.userAnswer{
    text-align: center;
}

table.detailedReportTable td.userComment{
    vertical-align: top;
    text-align: left;
}

/*--------------chart div containers-----------------*/

.graphs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.metrics{
    margin: 0 20px;
}

/*--------------circular graph-----------------*/
.circular-graph{
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-circle {
    width: 100%;
    height: 100%;
}

.circle-track,
.circle-progress {
    fill: none;
    stroke-linecap: round;
    stroke-width: 7;
}

.circle-track {
    stroke: rgb(225, 225, 225);
}

.circle-progress {
    stroke: rgb(255, 145, 0);
    stroke-dasharray: 0, 282.743;
    stroke-dashoffset: 0;
    transition: stroke-dasharray 0.5s ease-out;
}

.progress-text {
    position: absolute;
    font-size: 3vw;
    font-weight: bold;
    color: rgb(14, 86, 134);
}

.progress-percentage {
    display: inline-block;
}

/*--------------linear graph-----------------*/

.line-chart{
    width: 600px;
}

/*-------------- Cover css -----------------*/
.cover {
    opacity:0.5;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    display: none;
}

/*-------------- Popup css -----------------*/

.popup{
    background-color: #ffffff;
    width: 600px;
    height: 420px;
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    font-family: “Poppins”,sans-serif;
    text-align: center;
    z-index:1001;
}

/*-------------- Popup elements css -----------------*/
.popup button{
    display: block;
    margin:  0 0 1px auto;
    background-color: transparent;
    font-size: 30px;
    color: #000000;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup p{
    display: block;
    font-weight: bold;
    text-align: left;
    margin: 0 0 0 1.5%;
    color:#003e51;
    font-size: xx-large;
}

.popup input{
    display: block;
    background-color: transparent;
    margin: 0 1.5% 0 1.5%;
    padding: 0 0 0 5px;
    font-size: 15px;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 8px;
    width: 97%;
    height: 40px;
    outline: none;
}

.popup div{
    margin: 5px 1.5% 0 1.5%;
    max-height: 68%;
    overflow: auto;
}

/*-------------- Popup table css -----------------*/
.popup table{
    width: 99%;
    border-collapse: collapse;
}

/*-------------- Popup table elements css -----------------*/
.popup tr{
    border: 1px solid rgb(105, 105, 105);
    border-radius: 8px;
    border-collapse: collapse;
}

.popup tr:hover{
    background-color:  rgb(190, 190, 190);
    cursor: pointer;
}

.popup th{
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
    padding: 0 0 0 0.5%;
    background-color: #288f94;
    color: white;
    text-align: center;
}

.popup td{
    border: 1px solid rgb(105, 105, 105);
    border-collapse: collapse;
    text-align: left;
    padding: 0 0 0 0.3%;
    color: #000000;
}


/*------scrollbars styles-------*/

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 3px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#007396;
    border-radius: 3px;
  }
