.container {
    z-index: -2;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    padding: 80px 10px 20px;
    width: 100%;
    min-width: 1080px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

/* ------progress bar styles--------*/

.progressbar {
    padding: 60px 7vw 0;
}

.progress-bar {
    display: flex;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid rgb(1, 131, 170);
}

.bar {
    width: 100%;
    height: 7px;
    background-color: rgb(187, 187, 187);
    position: relative;
}

.fill {
    height: 7px;
    background: linear-gradient(to right, rgb(1, 131, 170), rgb(0, 223, 193));
    position: absolute;
    left: 0;
    top: 0;
}



/* general sytles*/

.section {
    width: 100%;
    border: 1px solid rgb(173, 173, 173);
}

.progressbar {
    border-bottom: none;
    text-align: center;
}

.questions {
    border-top: none;
    position: relative;
    text-align: center;
}

.question {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(173, 173, 173);
    border-top: 5px solid rgb(0, 184, 197);
    padding: 10px;
    text-align: center;
}

.question form {
    width: 100%;
    padding: 30px 10px;
}

table {
    width: 100%;
    border-spacing: 10px;
}

table td{
    text-align: left;
}

/*-------styles for subquestion table-------*/

.multioption-SQ{
    column-span: 2;
    
}

.text-input>input{
    width: 100%;
}

.radio-option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#userComments {
    width: 100%;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right
}

.question form button {
    width: 150px;
    height: 40px;
    padding: 10px;
}

